html, body {
  margin: 0;
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

div#boards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  background-color: #0077be;
  padding: 10px;
  border-radius: 8px;
}


.board div.cell {
  width: 30px;
  height: 30px;
  background-color: #aad3df;
  border: 1px solid #333;
  box-sizing: border-box;
  cursor: pointer;
}

.board div.cell.miss {
  background-color: #fff;
}
